@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    margin: 50;
    padding: 50;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color:black;
    color: white;
}

.navbar-brand a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin: 0 15px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar-links a:hover, .navbar-links a.active {
    color: #ddd;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    
    .navbar-links.active {
        display: flex;
    }
    
    .navbar-links li {
        text-align: center;
        margin: 10px 0;
    }
    
    .navbar-toggle {
        display: flex;
    }
}
