<app-navbar></app-navbar>
<div class="container">

    <div class="info">

        <div class="image">
            <img src="assets/pic.jpg" alt="">
        </div>

        <div class="name">
            <p>Avadhut Patil</p>
        </div>

        <div class="degisnation">
            <p>Java Full-Stack Developer</p>
        </div>

        <div class="summery">
            <p>A passionate Java Full Stack Developer with expertise in building robust web applications and a flair for solving complex problems.</p>
        </div>

    </div>

    <div class="get-in-touch">
        <p routerLink="footer">Get In Touch</p>
        <div class="circle">
            <i class="fa-solid fa-arrow-right"></i>
        </div>
    </div>

    <div class="heading">
        <h1>Software Developer</h1>
    </div>

    <div class="some-desc">
        <p>Empowering Businesses Through Innovative Technology .
        I specialize in delivering cutting-edge software solutions that drive growth and efficiency.</p>
    </div>

    <div class="box1">
        <img src="assets/icon1.png" alt="image">
        <p>Full-Stack Development. Proficient in Angular, Java, Spring Boot, and MySQL.</p>
        <div class="arrow"> <i class="fa-solid fa-arrow-right"></i> </div>
    </div>

    <div class="box2">
        <img src="assets/black-icon.png" alt="image">
        <div class="list">
            <dl type="none">
                <dt>Empowering Ideas Through Technology</dt>
                <li>Dedicated to learning and adapting to emerging technologies.</li>
                <li>Turning complex problems into simple, elegant solutions..</li>
            </dl>
        </div>
        <div class="arrow2"> <i class="fa-solid fa-arrow-right"></i> </div>
    </div>

    <div class="skills-head">
        <p>How I Can Help ? </p>
    </div>
    
    <div class="skills">
        <p>Java</p>
        <p>Angular</p>
        <p>MySql</p>
        <p>SpringBoot</p>
        <p>Hibernate</p>
        <p>TypeScript</p>
        <p>RESTapi</p>
    </div>

    <div class="star">
        <i class="fa-solid fa-star"></i>
    </div>


</div>
