
<div class="container">

    <div class="box">
        <aside>
            <p>hi</p>
        </aside>

        <div class="contact-us-box">
            <div class="form-content">
                <div class="contact-us-text">
                    <h2>Contact Me</h2>
                    <p>Reach out and  we'llget in touch within 24 hours</p>
                </div>
                <div class="form-container">
                    <div class="form-group">
                        <div class="first-name">
                            <label for="first-name">First name</label>
                            <input type="text" id="first-name" placeholder="First Name">
                        </div>
                        <div class="last-name">
                            <label for="last-name">Last name</label>
                            <input type="text" id="last-name" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="email">
                        <label for="email">Email</label>
                        <input type="email" id="email" placeholder="Email Address">
                    </div>
                    <div class="message">
                        <label for="message">Message</label>
                        <textarea id="message" placeholder="Leave us a message..."></textarea>
                    </div>
                    <button class="send-message">Send message</button>
            </div>
           
        </div>

    </div>


</div>
